In [5]:
#range without built-in function
lst=[]
n=int(input("Enter number of elements::"))
for i in range(0,n):
    ele=int(input("Enter elements::"))
    lst.append(ele)
print("List::",lst)
mindata=maxdata=lst[0]
for ele in lst:
    if ele<=mindata:
        mindata=ele
    if ele>=maxdata:
        maxdata=ele
range_value=maxdata-mindata
print("Range(without function)::",range_value)

#range using built-in function
import numpy as np
max_data=np.max(lst)
min_data=np.min(lst)
range_value=max_data-min_data
print("Range(using built-in function)::",range_value)

Enter number of elements::5
Enter elements::8
Enter elements::23
Enter elements::6
Enter elements::5
Enter elements::1
List:: [8, 23, 6, 5, 1]
Range(without function):: 22
Range(using built-in function):: 22

In [11]:
#variance without built-in function
lst=[]
n=int(input("Enter number of elements::"))
for i in range(0,n):
    ele=int(input("Enter elements::"))
    lst.append(ele)
print("List::",lst)
total=0
for i in lst:
    total+=i
mean=total/len(lst)
sum_value=0
for item in lst:
    sum_value+=(item-mean)**2
variance=sum_value/len(lst)
print("Variance::",variance)

#variance using built-in function
import numpy as np
print("Variance(using function)::",np.var(lst))

Enter number of elements::5
Enter elements::8
Enter elements::9
Enter elements::2
Enter elements::3
Enter elements::4
List:: [8, 9, 2, 3, 4]
Variance:: 7.76
Variance(using function):: 7.76

In [13]:
#standard deviation without built-in function
import math
lst=[]
n=int(input("Enter number of elements::"))
for i in range(0,n):
    ele=int(input("Enter elements::"))
    lst.append(ele)
print("List::",lst)
total=0
for i in lst:
    total+=i
mean=total/len(lst)
sum_value=0
for item in lst:
    sum_value+=(item-mean)**2
variance=sum_value/len(lst)
print("Variance::",variance)
standard_deviation=math.sqrt(variance)
print("Standard deviation(without using function)::",standard_deviation)

#standard deviation using built-in function
import numpy as np
print("Standard deviation::",np.std(lst))

Enter number of elements::5
Enter elements::8
Enter elements::9
Enter elements::2
Enter elements::3
Enter elements::4
List:: [8, 9, 2, 3, 4]
Variance:: 7.76
Standard deviation(without using function):: 2.7856776554368237
Standard deviation:: 2.7856776554368237

In [28]:
#IQR without using built-function
from scipy import stats
def median(arr):
    sorted_arr = sorted(arr)
    n = len(sorted_arr)
    if n % 2 == 0:
        return (sorted_arr[n // 2 - 1] + sorted_arr[n // 2]) / 2
    else:
        return sorted_arr[n // 2]

def quartiles(arr):
    sorted_arr = sorted(arr)
    n = len(sorted_arr)
    q2 = median(sorted_arr)
   
    if n % 2 == 0:
        lower_half = sorted_arr[:n // 2]
        upper_half = sorted_arr[n // 2:]
    else:
        lower_half = sorted_arr[:n // 2+1]
        upper_half = sorted_arr[n // 2 + 1:]

    q1 = median(lower_half)
    q3 = median(upper_half)

    return q1, q2, q3

def iqr(arr):
    q1, q2, q3 = quartiles(arr)
    return q3 - q1
lst=[]
n=int(input("Enter number of elements::"))
for i in range(0,n):
    ele=int(input("Enter elements::"))
    lst.append(ele)
print("List::",lst)
print("IQR(without built-in):", iqr(lst))
#IQR using built-in function
IQR=stats.iqr(lst,interpolation='midpoint')
print("IQR::",IQR)

Enter number of elements::5
Enter elements::1
Enter elements::2
Enter elements::3
Enter elements::4
Enter elements::5
List:: [1, 2, 3, 4, 5]
IQR(without built-in): 2.5
IQR:: 2.0

In [29]:
#Implement Support Vector Machine(SVM) Classifier with Suitable dataset.
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
dataset=pd.read_csv('C:/Users/CCL/Data Science Lab/tips.csv')
dataset

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [30]:
#splitting train and test
from sklearn.model_selection import train_split_test
X_train,X_test,y_train,y_test=train_split_test(X,y,test_size=0.25,random_state=0)

ImportError: cannot import name 'train_split_test' from 'sklearn.model_selection' (C:\Users\CCL\anaconda3\lib\site-packages\sklearn\model_selection\__init__.py)