In [3]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)

WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FA45250>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/pandas/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FA45430>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/pandas/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FA455B0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/pandas/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FA45730>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/pandas/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FA458B0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/pandas/
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FAB0610>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FAB0340>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FAB0F70>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FAB8160>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002690FAB8310>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
ERROR: Could not find a version that satisfies the requirement numpy>=1.22.4; python_version < "3.11" (from pandas) (from versions: none)
ERROR: No matching distribution found for numpy>=1.22.4; python_version < "3.11"
WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)

In [5]:
!pip install --upgrade numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (1.20.3)

WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016E89655250>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016E89655430>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016E896555B0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016E89655730>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016E896558B0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/numpy/
WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\user\anaconda3\lib\site-packages)

In [1]:
import numpy as np
import pandas as pd
import os
dataset = pd.read_csv("numeric.csv")
dataset

C:\Users\User\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\User\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
0,-0.4394,-0.0930,0.1718,0.4620,0.6226,0.4704,0.3578,0.0478,-0.1184,-0.2310,...,0.4102,0.2052,0.3846,0.3590,0.5898,0.3334,0.6410,0.5898,-0.4872,'1'
1,-0.4348,-0.1198,0.2474,0.4036,0.5026,0.6328,0.4948,0.0338,-0.0520,-0.1302,...,0.0000,0.2954,0.2046,0.4772,0.0454,0.2046,0.4318,0.4546,-0.0910,'1'
2,-0.2330,0.2124,NaN,0.5222,-0.3422,-0.5840,-0.7168,-0.6342,-0.8614,-0.8318,...,-0.1112,-0.0476,-0.1746,0.0318,-0.0476,0.1112,0.2540,0.1588,-0.4762,'2'
3,-0.3808,-0.0096,0.2602,0.2554,-0.4290,-0.6746,-0.6868,-0.6650,-0.8410,-0.9614,...,-0.0504,-0.0360,-0.1224,0.1366,0.2950,0.0792,-0.0072,0.0936,-0.1510,'2'
4,-0.3412,0.0946,0.6082,0.6216,-0.1622,NaN,-0.4324,-0.4358,-0.4966,-0.5406,...,0.1562,0.3124,0.2500,-0.0938,0.1562,0.3124,0.3124,0.2188,-0.2500,'3'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,-0.6842,-0.3280,-0.1984,0.2956,0.8786,0.8948,0.3118,0.1822,0.1012,0.1740,...,0.7738,0.7738,0.7142,0.6428,0.5952,0.5714,0.3928,0.4286,0.2858,'24'
7793,-0.5912,-0.2420,0.8174,1.0000,0.4642,0.6428,0.6944,0.3056,-0.3888,-0.6826,...,0.1924,-0.1154,0.0192,0.2116,-0.0384,0.0192,-0.2308,-0.4230,-0.7116,'25'
7794,-0.6696,-0.3730,0.1584,0.8910,1.0000,0.9762,0.9762,0.7684,0.4106,0.0154,...,0.0910,0.1818,0.2000,0.1454,0.0182,-0.2910,0.0728,0.0728,-0.5818,'25'
7795,-0.5764,-0.1764,0.5106,0.3742,-0.1670,-0.5858,-0.7882,-0.7224,-0.6330,-0.8212,...,0.4130,0.5870,0.4348,0.5652,0.3478,-0.0434,0.3044,-0.0434,-0.5000,'26'
7796,-0.6624,-0.3334,0.3666,0.4292,-0.2084,-0.5374,-0.4542,-0.6208,-0.6376,-0.5042,...,0.2520,0.2846,0.4146,0.3170,0.2520,-0.0244,-0.0894,-0.1708,-0.3170,'26'

In [2]:
dataset.shape

(7797, 618)

In [3]:
dataset.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
0,-0.4394,-0.0930,0.1718,0.4620,0.6226,0.4704,0.3578,0.0478,-0.1184,-0.2310,...,0.4102,0.2052,0.3846,0.3590,0.5898,0.3334,0.6410,0.5898,-0.4872,'1'
1,-0.4348,-0.1198,0.2474,0.4036,0.5026,0.6328,0.4948,0.0338,-0.0520,-0.1302,...,0.0000,0.2954,0.2046,0.4772,0.0454,0.2046,0.4318,0.4546,-0.0910,'1'
2,-0.2330,0.2124,NaN,0.5222,-0.3422,-0.5840,-0.7168,-0.6342,-0.8614,-0.8318,...,-0.1112,-0.0476,-0.1746,0.0318,-0.0476,0.1112,0.2540,0.1588,-0.4762,'2'
3,-0.3808,-0.0096,0.2602,0.2554,-0.4290,-0.6746,-0.6868,-0.6650,-0.8410,-0.9614,...,-0.0504,-0.0360,-0.1224,0.1366,0.2950,0.0792,-0.0072,0.0936,-0.1510,'2'
4,-0.3412,0.0946,0.6082,0.6216,-0.1622,NaN,-0.4324,-0.4358,-0.4966,-0.5406,...,0.1562,0.3124,0.2500,-0.0938,0.1562,0.3124,0.3124,0.2188,-0.2500,'3'

In [6]:
missing_values = dataset.isnull().sum()

missing_values=missing_values[missing_values>0]

print(missing_values_count)

f1       0
f2       0
f3       1
f4       0
f5       2
        ..
f614     0
f615     0
f616     0
f617     0
class    0
Length: 618, dtype: int64

In [7]:
dataset.isnull()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7793,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7794,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7795,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7796,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
dataset.tail()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
7792,-0.6842,-0.3280,-0.1984,0.2956,0.8786,0.8948,0.3118,0.1822,0.1012,0.1740,...,0.7738,0.7738,0.7142,0.6428,0.5952,0.5714,0.3928,0.4286,0.2858,'24'
7793,-0.5912,-0.2420,0.8174,1.0000,0.4642,0.6428,0.6944,0.3056,-0.3888,-0.6826,...,0.1924,-0.1154,0.0192,0.2116,-0.0384,0.0192,-0.2308,-0.4230,-0.7116,'25'
7794,-0.6696,-0.3730,0.1584,0.8910,1.0000,0.9762,0.9762,0.7684,0.4106,0.0154,...,0.0910,0.1818,0.2000,0.1454,0.0182,-0.2910,0.0728,0.0728,-0.5818,'25'
7795,-0.5764,-0.1764,0.5106,0.3742,-0.1670,-0.5858,-0.7882,-0.7224,-0.6330,-0.8212,...,0.4130,0.5870,0.4348,0.5652,0.3478,-0.0434,0.3044,-0.0434,-0.5000,'26'
7796,-0.6624,-0.3334,0.3666,0.4292,-0.2084,-0.5374,-0.4542,-0.6208,-0.6376,-0.5042,...,0.2520,0.2846,0.4146,0.3170,0.2520,-0.0244,-0.0894,-0.1708,-0.3170,'26'

In [9]:
dataset=dataset.fillna(0)

In [10]:
dataset

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
0,-0.4394,-0.0930,0.1718,0.4620,0.6226,0.4704,0.3578,0.0478,-0.1184,-0.2310,...,0.4102,0.2052,0.3846,0.3590,0.5898,0.3334,0.6410,0.5898,-0.4872,'1'
1,-0.4348,-0.1198,0.2474,0.4036,0.5026,0.6328,0.4948,0.0338,-0.0520,-0.1302,...,0.0000,0.2954,0.2046,0.4772,0.0454,0.2046,0.4318,0.4546,-0.0910,'1'
2,-0.2330,0.2124,0.0000,0.5222,-0.3422,-0.5840,-0.7168,-0.6342,-0.8614,-0.8318,...,-0.1112,-0.0476,-0.1746,0.0318,-0.0476,0.1112,0.2540,0.1588,-0.4762,'2'
3,-0.3808,-0.0096,0.2602,0.2554,-0.4290,-0.6746,-0.6868,-0.6650,-0.8410,-0.9614,...,-0.0504,-0.0360,-0.1224,0.1366,0.2950,0.0792,-0.0072,0.0936,-0.1510,'2'
4,-0.3412,0.0946,0.6082,0.6216,-0.1622,0.0000,-0.4324,-0.4358,-0.4966,-0.5406,...,0.1562,0.3124,0.2500,-0.0938,0.1562,0.3124,0.3124,0.2188,-0.2500,'3'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,-0.6842,-0.3280,-0.1984,0.2956,0.8786,0.8948,0.3118,0.1822,0.1012,0.1740,...,0.7738,0.7738,0.7142,0.6428,0.5952,0.5714,0.3928,0.4286,0.2858,'24'
7793,-0.5912,-0.2420,0.8174,1.0000,0.4642,0.6428,0.6944,0.3056,-0.3888,-0.6826,...,0.1924,-0.1154,0.0192,0.2116,-0.0384,0.0192,-0.2308,-0.4230,-0.7116,'25'
7794,-0.6696,-0.3730,0.1584,0.8910,1.0000,0.9762,0.9762,0.7684,0.4106,0.0154,...,0.0910,0.1818,0.2000,0.1454,0.0182,-0.2910,0.0728,0.0728,-0.5818,'25'
7795,-0.5764,-0.1764,0.5106,0.3742,-0.1670,-0.5858,-0.7882,-0.7224,-0.6330,-0.8212,...,0.4130,0.5870,0.4348,0.5652,0.3478,-0.0434,0.3044,-0.0434,-0.5000,'26'
7796,-0.6624,-0.3334,0.3666,0.4292,-0.2084,-0.5374,-0.4542,-0.6208,-0.6376,-0.5042,...,0.2520,0.2846,0.4146,0.3170,0.2520,-0.0244,-0.0894,-0.1708,-0.3170,'26'

In [11]:
type(dataset.f1)

pandas.core.series.Series

In [13]:
df1=dataset.fillna(np.min(dataset))

TypeError: '<=' not supported between instances of 'float' and 'str'

In [14]:
dataset = dataset.select_dtypes(include=[np.number])

# Calculate the minimum value for each numeric column
min_values = dataset.min()

# Fill missing values in the DataFrame with the corresponding minimum value for each column
df = dataset.fillna(min_values)

# Print the updated DataFrame
print(df)

          f1      f2      f3      f4      f5      f6      f7      f8      f9  \
0    -0.4394 -0.0930  0.1718  0.4620  0.6226  0.4704  0.3578  0.0478 -0.1184
1    -0.4348 -0.1198  0.2474  0.4036  0.5026  0.6328  0.4948  0.0338 -0.0520
2    -0.2330  0.2124  0.0000  0.5222 -0.3422 -0.5840 -0.7168 -0.6342 -0.8614
3    -0.3808 -0.0096  0.2602  0.2554 -0.4290 -0.6746 -0.6868 -0.6650 -0.8410
4    -0.3412  0.0946  0.6082  0.6216 -0.1622  0.0000 -0.4324 -0.4358 -0.4966
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
7792 -0.6842 -0.3280 -0.1984  0.2956  0.8786  0.8948  0.3118  0.1822  0.1012
7793 -0.5912 -0.2420  0.8174  1.0000  0.4642  0.6428  0.6944  0.3056 -0.3888
7794 -0.6696 -0.3730  0.1584  0.8910  1.0000  0.9762  0.9762  0.7684  0.4106
7795 -0.5764 -0.1764  0.5106  0.3742 -0.1670 -0.5858 -0.7882 -0.7224 -0.6330
7796 -0.6624 -0.3334  0.3666  0.4292 -0.2084 -0.5374 -0.4542 -0.6208 -0.6376

         f10  ...    f608    f609    f610    f611    f612    f613    f614  \
0    -0.2310  ...  0.3334  0.4102  0.2052  0.3846  0.3590  0.5898  0.3334
1    -0.1302  ...  0.2272  0.0000  0.2954  0.2046  0.4772  0.0454  0.2046
2    -0.8318  ...  0.0952 -0.1112 -0.0476 -0.1746  0.0318 -0.0476  0.1112
3    -0.9614  ...  0.0648 -0.0504 -0.0360 -0.1224  0.1366  0.2950  0.0792
4    -0.5406  ...  0.2812  0.1562  0.3124  0.2500 -0.0938  0.1562  0.3124
...      ...  ...     ...     ...     ...     ...     ...     ...     ...
7792  0.1740  ...  0.8928  0.7738  0.7738  0.7142  0.6428  0.5952  0.5714
7793 -0.6826  ...  0.0192  0.1924 -0.1154  0.0192  0.2116 -0.0384  0.0192
7794  0.0154  ...  0.0000  0.0910  0.1818  0.2000  0.1454  0.0182 -0.2910
7795 -0.8212  ...  0.3044  0.4130  0.5870  0.4348  0.5652  0.3478 -0.0434
7796 -0.5042  ...  0.1056  0.2520  0.2846  0.4146  0.3170  0.2520 -0.0244

        f615    f616    f617
0     0.6410  0.5898 -0.4872
1     0.4318  0.4546 -0.0910
2     0.2540  0.1588 -0.4762
3    -0.0072  0.0936 -0.1510
4     0.3124  0.2188 -0.2500
...      ...     ...     ...
7792  0.3928  0.4286  0.2858
7793 -0.2308 -0.4230 -0.7116
7794  0.0728  0.0728 -0.5818
7795  0.3044 -0.0434 -0.5000
7796 -0.0894 -0.1708 -0.3170

[7797 rows x 617 columns]

In [ ]:
df1

In [ ]:
df2=dataset.fillna(np.max(dataset))

In [ ]:
df2

In [ ]:
df3=dataset.fillna(np.median(dataset))

In [ ]:
df3

In [ ]:
df4=dataset.fillna(np.mean(dataset))

In [ ]:
df4

In [ ]:
df5=dataset.fillna(np.median(dtaset))

In [ ]:
df5

In [ ]:
df6=dataset
df6.dropna()