In [12]:
#numeric without using builtin functions
import numpy as np
import pandas as pd
import os
df=pd.read_csv("numeric.csv")
df

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
0,-0.4394,-0.0930,0.1718,0.4620,0.6226,0.4704,0.3578,0.0478,-0.1184,-0.2310,...,0.4102,0.2052,0.3846,0.3590,0.5898,0.3334,0.6410,0.5898,-0.4872,'1'
1,-0.4348,-0.1198,0.2474,0.4036,0.5026,0.6328,0.4948,0.0338,-0.0520,-0.1302,...,0.0000,0.2954,0.2046,0.4772,0.0454,0.2046,0.4318,0.4546,-0.0910,'1'
2,-0.2330,0.2124,NaN,0.5222,-0.3422,-0.5840,-0.7168,-0.6342,-0.8614,-0.8318,...,-0.1112,-0.0476,-0.1746,0.0318,-0.0476,0.1112,0.2540,0.1588,-0.4762,'2'
3,-0.3808,-0.0096,0.2602,0.2554,-0.4290,-0.6746,-0.6868,-0.6650,-0.8410,-0.9614,...,-0.0504,-0.0360,-0.1224,0.1366,0.2950,0.0792,-0.0072,0.0936,-0.1510,'2'
4,-0.3412,0.0946,0.6082,0.6216,-0.1622,NaN,-0.4324,-0.4358,-0.4966,-0.5406,...,0.1562,0.3124,0.2500,-0.0938,0.1562,0.3124,0.3124,0.2188,-0.2500,'3'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,-0.6842,-0.3280,-0.1984,0.2956,0.8786,0.8948,0.3118,0.1822,0.1012,0.1740,...,0.7738,0.7738,0.7142,0.6428,0.5952,0.5714,0.3928,0.4286,0.2858,'24'
7793,-0.5912,-0.2420,0.8174,1.0000,0.4642,0.6428,0.6944,0.3056,-0.3888,-0.6826,...,0.1924,-0.1154,0.0192,0.2116,-0.0384,0.0192,-0.2308,-0.4230,-0.7116,'25'
7794,-0.6696,-0.3730,0.1584,0.8910,1.0000,0.9762,0.9762,0.7684,0.4106,0.0154,...,0.0910,0.1818,0.2000,0.1454,0.0182,-0.2910,0.0728,0.0728,-0.5818,'25'
7795,-0.5764,-0.1764,0.5106,0.3742,-0.1670,-0.5858,-0.7882,-0.7224,-0.6330,-0.8212,...,0.4130,0.5870,0.4348,0.5652,0.3478,-0.0434,0.3044,-0.0434,-0.5000,'26'
7796,-0.6624,-0.3334,0.3666,0.4292,-0.2084,-0.5374,-0.4542,-0.6208,-0.6376,-0.5042,...,0.2520,0.2846,0.4146,0.3170,0.2520,-0.0244,-0.0894,-0.1708,-0.3170,'26'

In [13]:
# Define a function to count missing values in a column
def count_missing_values(column):
    count = 0
    for value in column:
        if pd.isnull(value):
            count += 1
    return count

# Initialize an empty dictionary to store missing value counts for each column
missing_values = {}

# Iterate through DataFrame columns
for column in df.columns:
    # Count missing values for the column
    missing_count = count_missing_values(df[column])
    # If there are missing values, store the count in the dictionary
    if missing_count > 0:
        missing_values[column] = missing_count

# Print columns with missing values
print("Columns with missing values:")
for column, count in missing_values.items():
    print(f"{column}: {count}")

Columns with missing values:
f3: 1
f5: 2
f6: 2
f8: 2

In [10]:
# Define a custom function to fill missing values in a DataFrame
def fill_missing_values(df, fill_value):
    for i in range(len(df)):  # Iterate over rows
        for j in range(len(df.columns)):  # Iterate over columns
            if pd.isnull(df.iloc[i, j]):  # Check if the value is missing
                df.iloc[i, j] = fill_value  # Fill missing value with fill_value

# Sample DataFrame
# df = your_dataframe_here

# Fill missing values with 0
fill_missing_values(df, 0)

# Print DataFrame after filling missing values
print(df)

          f1      f2      f3      f4      f5      f6      f7      f8      f9  \
0    -0.4394 -0.0930  0.1718  0.4620  0.6226  0.4704  0.3578  0.0478 -0.1184
1    -0.4348 -0.1198  0.2474  0.4036  0.5026  0.6328  0.4948  0.0338 -0.0520
2    -0.2330  0.2124  0.0000  0.5222 -0.3422 -0.5840 -0.7168 -0.6342 -0.8614
3    -0.3808 -0.0096  0.2602  0.2554 -0.4290 -0.6746 -0.6868 -0.6650 -0.8410
4    -0.3412  0.0946  0.6082  0.6216 -0.1622  0.0000 -0.4324 -0.4358 -0.4966
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
7792 -0.6842 -0.3280 -0.1984  0.2956  0.8786  0.8948  0.3118  0.1822  0.1012
7793 -0.5912 -0.2420  0.8174  1.0000  0.4642  0.6428  0.6944  0.3056 -0.3888
7794 -0.6696 -0.3730  0.1584  0.8910  1.0000  0.9762  0.9762  0.7684  0.4106
7795 -0.5764 -0.1764  0.5106  0.3742 -0.1670 -0.5858 -0.7882 -0.7224 -0.6330
7796 -0.6624 -0.3334  0.3666  0.4292 -0.2084 -0.5374 -0.4542 -0.6208 -0.6376

         f10  ...    f609    f610    f611    f612    f613    f614    f615  \
0    -0.2310  ...  0.4102  0.2052  0.3846  0.3590  0.5898  0.3334  0.6410
1    -0.1302  ...  0.0000  0.2954  0.2046  0.4772  0.0454  0.2046  0.4318
2    -0.8318  ... -0.1112 -0.0476 -0.1746  0.0318 -0.0476  0.1112  0.2540
3    -0.9614  ... -0.0504 -0.0360 -0.1224  0.1366  0.2950  0.0792 -0.0072
4    -0.5406  ...  0.1562  0.3124  0.2500 -0.0938  0.1562  0.3124  0.3124
...      ...  ...     ...     ...     ...     ...     ...     ...     ...
7792  0.1740  ...  0.7738  0.7738  0.7142  0.6428  0.5952  0.5714  0.3928
7793 -0.6826  ...  0.1924 -0.1154  0.0192  0.2116 -0.0384  0.0192 -0.2308
7794  0.0154  ...  0.0910  0.1818  0.2000  0.1454  0.0182 -0.2910  0.0728
7795 -0.8212  ...  0.4130  0.5870  0.4348  0.5652  0.3478 -0.0434  0.3044
7796 -0.5042  ...  0.2520  0.2846  0.4146  0.3170  0.2520 -0.0244 -0.0894

        f616    f617  class
0     0.5898 -0.4872    '1'
1     0.4546 -0.0910    '1'
2     0.1588 -0.4762    '2'
3     0.0936 -0.1510    '2'
4     0.2188 -0.2500    '3'
...      ...     ...    ...
7792  0.4286  0.2858   '24'
7793 -0.4230 -0.7116   '25'
7794  0.0728 -0.5818   '25'
7795 -0.0434 -0.5000   '26'
7796 -0.1708 -0.3170   '26'

[7797 rows x 618 columns]

In [9]:
# Define a custom function to drop rows with missing values from a DataFrame
def drop_rows_with_missing_values(df):
    # Initialize an empty list to store rows without missing values
    cleaned_rows = []
    
    # Iterate through each row of the DataFrame
    for i in range(len(df)):
        # Check if the row has any missing values
        has_missing_values = False
        for j in range(len(df.columns)):
            if pd.isnull(df.iloc[i, j]):  # Check if the value is missing
                has_missing_values = True
                break  # Exit loop if a missing value is found
        
        # If the row has no missing values, add it to the cleaned rows list
        if not has_missing_values:
            cleaned_rows.append(df.iloc[i])
    
    # Concatenate the cleaned rows list into a new DataFrame
    cleaned_df = pd.concat(cleaned_rows, axis=1).transpose()
    
    return cleaned_df

# Sample DataFrame
# df = your_dataframe_here

# Drop rows with missing values
cleaned_df = drop_rows_with_missing_values(df)

# Print DataFrame after dropping rows with missing values
print(cleaned_df)

          f1      f2      f3      f4      f5      f6      f7      f8      f9  \
0    -0.4394  -0.093  0.1718   0.462  0.6226  0.4704  0.3578  0.0478 -0.1184
1    -0.4348 -0.1198  0.2474  0.4036  0.5026  0.6328  0.4948  0.0338  -0.052
3    -0.3808 -0.0096  0.2602  0.2554  -0.429 -0.6746 -0.6868  -0.665  -0.841
5    -0.4634  0.0306  0.3546  0.4448 -0.1022 -0.4184 -0.6388  -0.437 -0.4396
6    -0.3364 -0.0102  0.2132  0.2018 -0.6146  -0.838  -0.813  -0.724 -0.8062
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
7792 -0.6842  -0.328 -0.1984  0.2956  0.8786  0.8948  0.3118  0.1822  0.1012
7793 -0.5912  -0.242  0.8174     1.0  0.4642  0.6428  0.6944  0.3056 -0.3888
7794 -0.6696  -0.373  0.1584   0.891     1.0  0.9762  0.9762  0.7684  0.4106
7795 -0.5764 -0.1764  0.5106  0.3742  -0.167 -0.5858 -0.7882 -0.7224  -0.633
7796 -0.6624 -0.3334  0.3666  0.4292 -0.2084 -0.5374 -0.4542 -0.6208 -0.6376

         f10  ...    f609    f610    f611    f612    f613    f614    f615  \
0     -0.231  ...  0.4102  0.2052  0.3846   0.359  0.5898  0.3334   0.641
1    -0.1302  ...     0.0  0.2954  0.2046  0.4772  0.0454  0.2046  0.4318
3    -0.9614  ... -0.0504  -0.036 -0.1224  0.1366   0.295  0.0792 -0.0072
5    -0.6654  ...  0.6626   0.735  0.3734  0.6626  0.3012  0.1808   0.229
6    -0.8996  ...  0.0526 -0.0702  -0.035  0.0702  0.1578   0.193  0.4562
...      ...  ...     ...     ...     ...     ...     ...     ...     ...
7792   0.174  ...  0.7738  0.7738  0.7142  0.6428  0.5952  0.5714  0.3928
7793 -0.6826  ...  0.1924 -0.1154  0.0192  0.2116 -0.0384  0.0192 -0.2308
7794  0.0154  ...   0.091  0.1818     0.2  0.1454  0.0182  -0.291  0.0728
7795 -0.8212  ...   0.413   0.587  0.4348  0.5652  0.3478 -0.0434  0.3044
7796 -0.5042  ...   0.252  0.2846  0.4146   0.317   0.252 -0.0244 -0.0894

        f616    f617 class
0     0.5898 -0.4872   '1'
1     0.4546  -0.091   '1'
3     0.0936  -0.151   '2'
5     0.6144  0.3254   '3'
6     0.4562  -0.386   '4'
...      ...     ...   ...
7792  0.4286  0.2858  '24'
7793  -0.423 -0.7116  '25'
7794  0.0728 -0.5818  '25'
7795 -0.0434    -0.5  '26'
7796 -0.1708  -0.317  '26'

[7790 rows x 618 columns]

In [17]:
# Custom function to calculate the mean of a list
def calculate_mean(data):
    total = 0
    count = 0
    for value in data:
        if not pd.isnull(value):  # Exclude missing values from calculation
            total += value
            count += 1
    return total / count if count > 0 else 0

# Custom function to fill missing values with column means, excluding the last column
def fill_missing_with_means(df):
    for column in df.columns[:-1]:  # Exclude the last column (assuming it contains class labels)
        # Extract non-null values for the current column
        non_null_values = [value for value in df[column] if not pd.isnull(value)]
        # Calculate the mean of non-null values
        column_mean = calculate_mean(non_null_values)
        # Replace missing values in the column with the calculated mean
        for i in range(len(df[column])):
            if pd.isnull(df[column][i]):
                df[column][i] = column_mean
    return df

# Sample DataFrame
# df = your_dataframe_here

# Fill missing values with column means, excluding the last column
df2 = fill_missing_with_means(df)

# Print DataFrame after filling missing values
print(df2)

          f1      f2        f3      f4      f5       f6      f7      f8  \
0    -0.4394 -0.0930  0.171800  0.4620  0.6226  0.47040  0.3578  0.0478
1    -0.4348 -0.1198  0.247400  0.4036  0.5026  0.63280  0.4948  0.0338
2    -0.2330  0.2124  0.347364  0.5222 -0.3422 -0.58400 -0.7168 -0.6342
3    -0.3808 -0.0096  0.260200  0.2554 -0.4290 -0.67460 -0.6868 -0.6650
4    -0.3412  0.0946  0.608200  0.6216 -0.1622  0.16366 -0.4324 -0.4358
...      ...     ...       ...     ...     ...      ...     ...     ...
7792 -0.6842 -0.3280 -0.198400  0.2956  0.8786  0.89480  0.3118  0.1822
7793 -0.5912 -0.2420  0.817400  1.0000  0.4642  0.64280  0.6944  0.3056
7794 -0.6696 -0.3730  0.158400  0.8910  1.0000  0.97620  0.9762  0.7684
7795 -0.5764 -0.1764  0.510600  0.3742 -0.1670 -0.58580 -0.7882 -0.7224
7796 -0.6624 -0.3334  0.366600  0.4292 -0.2084 -0.53740 -0.4542 -0.6208

          f9     f10  ...    f609    f610    f611    f612    f613    f614  \
0    -0.1184 -0.2310  ...  0.4102  0.2052  0.3846  0.3590  0.5898  0.3334
1    -0.0520 -0.1302  ...  0.0000  0.2954  0.2046  0.4772  0.0454  0.2046
2    -0.8614 -0.8318  ... -0.1112 -0.0476 -0.1746  0.0318 -0.0476  0.1112
3    -0.8410 -0.9614  ... -0.0504 -0.0360 -0.1224  0.1366  0.2950  0.0792
4    -0.4966 -0.5406  ...  0.1562  0.3124  0.2500 -0.0938  0.1562  0.3124
...      ...     ...  ...     ...     ...     ...     ...     ...     ...
7792  0.1012  0.1740  ...  0.7738  0.7738  0.7142  0.6428  0.5952  0.5714
7793 -0.3888 -0.6826  ...  0.1924 -0.1154  0.0192  0.2116 -0.0384  0.0192
7794  0.4106  0.0154  ...  0.0910  0.1818  0.2000  0.1454  0.0182 -0.2910
7795 -0.6330 -0.8212  ...  0.4130  0.5870  0.4348  0.5652  0.3478 -0.0434
7796 -0.6376 -0.5042  ...  0.2520  0.2846  0.4146  0.3170  0.2520 -0.0244

        f615    f616    f617  class
0     0.6410  0.5898 -0.4872    '1'
1     0.4318  0.4546 -0.0910    '1'
2     0.2540  0.1588 -0.4762    '2'
3    -0.0072  0.0936 -0.1510    '2'
4     0.3124  0.2188 -0.2500    '3'
...      ...     ...     ...    ...
7792  0.3928  0.4286  0.2858   '24'
7793 -0.2308 -0.4230 -0.7116   '25'
7794  0.0728  0.0728 -0.5818   '25'
7795  0.3044 -0.0434 -0.5000   '26'
7796 -0.0894 -0.1708 -0.3170   '26'

[7797 rows x 618 columns]

In [18]:
# Custom function to calculate the minimum value of a list
def calculate_min(data):
    min_val = float('inf')  # Initialize with positive infinity
    for value in data:
        if not pd.isnull(value):  # Exclude missing values from calculation
            if value < min_val:
                min_val = value
    return min_val

# Custom function to fill missing values with column minimums, excluding the last column
def fill_missing_with_min(df):
    for column in df.columns[:-1]:  # Exclude the last column (assuming it contains class labels)
        # Extract non-null values for the current column
        non_null_values = [value for value in df[column] if not pd.isnull(value)]
        # Calculate the minimum value of non-null values
        column_min = calculate_min(non_null_values)
        # Replace missing values in the column with the calculated minimum
        for i in range(len(df[column])):
            if pd.isnull(df[column][i]):
                df[column][i] = column_min
    return df

# Sample DataFrame
# df = your_dataframe_here

# Fill missing values with column minimums, excluding the last column
df3 = fill_missing_with_min(df)

# Print DataFrame after filling missing values
print(df3)

          f1      f2        f3      f4      f5       f6      f7      f8  \
0    -0.4394 -0.0930  0.171800  0.4620  0.6226  0.47040  0.3578  0.0478
1    -0.4348 -0.1198  0.247400  0.4036  0.5026  0.63280  0.4948  0.0338
2    -0.2330  0.2124  0.347364  0.5222 -0.3422 -0.58400 -0.7168 -0.6342
3    -0.3808 -0.0096  0.260200  0.2554 -0.4290 -0.67460 -0.6868 -0.6650
4    -0.3412  0.0946  0.608200  0.6216 -0.1622  0.16366 -0.4324 -0.4358
...      ...     ...       ...     ...     ...      ...     ...     ...
7792 -0.6842 -0.3280 -0.198400  0.2956  0.8786  0.89480  0.3118  0.1822
7793 -0.5912 -0.2420  0.817400  1.0000  0.4642  0.64280  0.6944  0.3056
7794 -0.6696 -0.3730  0.158400  0.8910  1.0000  0.97620  0.9762  0.7684
7795 -0.5764 -0.1764  0.510600  0.3742 -0.1670 -0.58580 -0.7882 -0.7224
7796 -0.6624 -0.3334  0.366600  0.4292 -0.2084 -0.53740 -0.4542 -0.6208

          f9     f10  ...    f609    f610    f611    f612    f613    f614  \
0    -0.1184 -0.2310  ...  0.4102  0.2052  0.3846  0.3590  0.5898  0.3334
1    -0.0520 -0.1302  ...  0.0000  0.2954  0.2046  0.4772  0.0454  0.2046
2    -0.8614 -0.8318  ... -0.1112 -0.0476 -0.1746  0.0318 -0.0476  0.1112
3    -0.8410 -0.9614  ... -0.0504 -0.0360 -0.1224  0.1366  0.2950  0.0792
4    -0.4966 -0.5406  ...  0.1562  0.3124  0.2500 -0.0938  0.1562  0.3124
...      ...     ...  ...     ...     ...     ...     ...     ...     ...
7792  0.1012  0.1740  ...  0.7738  0.7738  0.7142  0.6428  0.5952  0.5714
7793 -0.3888 -0.6826  ...  0.1924 -0.1154  0.0192  0.2116 -0.0384  0.0192
7794  0.4106  0.0154  ...  0.0910  0.1818  0.2000  0.1454  0.0182 -0.2910
7795 -0.6330 -0.8212  ...  0.4130  0.5870  0.4348  0.5652  0.3478 -0.0434
7796 -0.6376 -0.5042  ...  0.2520  0.2846  0.4146  0.3170  0.2520 -0.0244

        f615    f616    f617  class
0     0.6410  0.5898 -0.4872    '1'
1     0.4318  0.4546 -0.0910    '1'
2     0.2540  0.1588 -0.4762    '2'
3    -0.0072  0.0936 -0.1510    '2'
4     0.3124  0.2188 -0.2500    '3'
...      ...     ...     ...    ...
7792  0.3928  0.4286  0.2858   '24'
7793 -0.2308 -0.4230 -0.7116   '25'
7794  0.0728  0.0728 -0.5818   '25'
7795  0.3044 -0.0434 -0.5000   '26'
7796 -0.0894 -0.1708 -0.3170   '26'

[7797 rows x 618 columns]

In [33]:

# Define a function to calculate the minimum value
def custom_min(column):
    min_val = float('inf')  # Initialize min_val with positive infinity
    for value in column:
        if not pd.isna(value):  # Exclude NaN values
            if value < min_val:  # Update min_val if the current value is smaller
                min_val = value
    return min_val

# Fill missing values in 'f3' column with the minimum value
def fill_missing_with_min(df, column_name):
    min_val = custom_min(df[column_name])
    for i in range(len(df[column_name])):
        if pd.isna(df[column_name][i]):
            df[column_name][i] = min_val
    return df

df4=fill_missing_with_min(df,'f3')
print(df4)

          f1      f2        f3      f4      f5       f6      f7      f8  \
0    -0.4394 -0.0930  0.171800  0.4620  0.6226  0.47040  0.3578  0.0478
1    -0.4348 -0.1198  0.247400  0.4036  0.5026  0.63280  0.4948  0.0338
2    -0.2330  0.2124  0.347364  0.5222 -0.3422 -0.58400 -0.7168 -0.6342
3    -0.3808 -0.0096  0.260200  0.2554 -0.4290 -0.67460 -0.6868 -0.6650
4    -0.3412  0.0946  0.608200  0.6216 -0.1622  0.16366 -0.4324 -0.4358
...      ...     ...       ...     ...     ...      ...     ...     ...
7792 -0.6842 -0.3280 -0.198400  0.2956  0.8786  0.89480  0.3118  0.1822
7793 -0.5912 -0.2420  0.817400  1.0000  0.4642  0.64280  0.6944  0.3056
7794 -0.6696 -0.3730  0.158400  0.8910  1.0000  0.97620  0.9762  0.7684
7795 -0.5764 -0.1764  0.510600  0.3742 -0.1670 -0.58580 -0.7882 -0.7224
7796 -0.6624 -0.3334  0.366600  0.4292 -0.2084 -0.53740 -0.4542 -0.6208

          f9     f10  ...    f609    f610    f611    f612    f613    f614  \
0    -0.1184 -0.2310  ...  0.4102  0.2052  0.3846  0.3590  0.5898  0.3334
1    -0.0520 -0.1302  ...  0.0000  0.2954  0.2046  0.4772  0.0454  0.2046
2    -0.8614 -0.8318  ... -0.1112 -0.0476 -0.1746  0.0318 -0.0476  0.1112
3    -0.8410 -0.9614  ... -0.0504 -0.0360 -0.1224  0.1366  0.2950  0.0792
4    -0.4966 -0.5406  ...  0.1562  0.3124  0.2500 -0.0938  0.1562  0.3124
...      ...     ...  ...     ...     ...     ...     ...     ...     ...
7792  0.1012  0.1740  ...  0.7738  0.7738  0.7142  0.6428  0.5952  0.5714
7793 -0.3888 -0.6826  ...  0.1924 -0.1154  0.0192  0.2116 -0.0384  0.0192
7794  0.4106  0.0154  ...  0.0910  0.1818  0.2000  0.1454  0.0182 -0.2910
7795 -0.6330 -0.8212  ...  0.4130  0.5870  0.4348  0.5652  0.3478 -0.0434
7796 -0.6376 -0.5042  ...  0.2520  0.2846  0.4146  0.3170  0.2520 -0.0244

        f615    f616    f617  class
0     0.6410  0.5898 -0.4872    '1'
1     0.4318  0.4546 -0.0910    '1'
2     0.2540  0.1588 -0.4762    '2'
3    -0.0072  0.0936 -0.1510    '2'
4     0.3124  0.2188 -0.2500    '3'
...      ...     ...     ...    ...
7792  0.3928  0.4286  0.2858   '24'
7793 -0.2308 -0.4230 -0.7116   '25'
7794  0.0728  0.0728 -0.5818   '25'
7795  0.3044 -0.0434 -0.5000   '26'
7796 -0.0894 -0.1708 -0.3170   '26'

[7797 rows x 618 columns]